<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div class="article-author-side">
  {% include _author-bio.html %}
</div>

<div id="index">
  <h3><a href="{{ site.url}}/articles/">Recent Posts</a></h3>
  {% for post in site.posts limit:5 %}


  <article class="post-index-item">
   {% assign authorCount = post.authors | size %}
   {% if authorCount == 0 %}
   <div class="post-index-author-main">
     <img src="{{ site.url }}/images/{{ site.owner.avatar }}" class="bio-photo" alt="{{ site.owner.name }} bio photo"></a>
   </div>
   {% elsif authorCount >= 1 %}
       {% assign _author = site.authors[post.authors.first] %}
       <div class="post-index-author-main">
       {% if _author.avatar contains 'http://' %}
         <img src="{{ _author.avatar }}" class="bio-photo" alt="{{ _author.name }} bio photo"></a>
       {% elsif _author.avatar contains 'https://' %}
         <img src="{{ _author.avatar }}" class="bio-photo" alt="{{ _author.name }} bio photo"></a>
       {% else %}
         <img src="{{ site.url }}/images/{{ _author.avatar }}" class="bio-photo" alt="{{ _author.name }} bio photo"></a>
       {% endif %}
     </div>
   {% endif %}
   <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
   <p>{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}
     <a href="http://twitter.com/share" class="socialite twitter-share" data-text="{{ post.title }}" data-url="{{ site.url }}{{ post.url }}" rel="nofollow" target="_blank"><span class="vhidden">Share on Twitter</span></a>
   </p>


 </article>

  {% endfor %}
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
